
#CENTER_RIGHT{
    position: relative;
    float: right;
    text-align: center;
    min-width: 70%;
    max-width: 70%;
}

#CENTER_RIGHT .titleCenter{
    color: red;
    text-shadow: 1px 1px 1px blue;;
}

#CENTER_RIGHT .INDEXpart{
    border-top: solid #307c9c;
}

#CENTER_RIGHT .sideTxtINDEX    {
    color: #307c9c;
    font-weight: bold;
    transition: font-size 0.5s ease-in-out;
}

#CENTER_RIGHT .devCategory{
    position: relative;
    width: 200;
    height: 200;
    
}

#CENTER_RIGHT .devCategory img {
    height: 100;
}

#CENTER_RIGHT .devCategory img:hover{
    
}

#CENTER_RIGHT .tourButton{
    position: absolute;
    float: right;
    bottom: 5%;
    margin-left: 90%;
    border: dashed blue;
    
}

#CENTER_RIGHT  .content{
     text-align: center;
     min-width: 80%;
     max-height: 65%;
    overflow: scroll;
}


#CENTER_RIGHT  .content .testimonial img{
    max-height: 200;
    float: right;
}

#CENTER_RIGHT  .content .testimonial div{
    max-width: 400;
}

#CENTER_RIGHT  .content .project{
    max-width: 300;
    position: relative;
}


#CENTER_RIGHT:not(a){
    color:black;
}

 #CENTER_RIGHT .content .titleCAT{
     text-align: center;
     color: red;
     text-decoration: underline;
}


#column1{
   float: left;
    left: 15%;
    
}

#column2{
    float:right;
    right:15%;
}


#forDevices{
    text-align: center;
    margin:0;
    padding: 0;
    overflow: scroll;
    
}






#smartLifeCat{
    text-align: center;
    
    
}


#smartLifeCat .SLimg{
    height: 400px;
    max-width: 600px;

}

#smartLifeCat .bottomNext{
    position: absolute;
    top:50%;
    right:5%;
}

#smartLifeCat .bottomPrev{
    position: absolute;
    top:50%;
    left:5%;
}

#smartLifeCat .sideText{
    position: absolute;
    top:30%;
    left:20%;
    max-width: 30%;
}




#AScat {
    float: left;
    max-width: 600px;
}




#highlightsIndex {
    float: right;
}

#highlightsIndex {
        transition: transform 0.5s ease-in-out; 
}

#highlightsIndex:hover{
    transform: scale(1.05);
}



#deviceDescription{
    max-width: 300px;
    top:0;
}

#CENTER_RIGHT .deviceWindow{
    max-height: 600px;
    overflow: scroll;
}

#CENTER_RIGHT .SL{
    height: 10%;
    margin: 5px;
}

#CENTER_RIGHT .deviceIMGs img{
    max-height: 10%;   
}


#CENTER_RIGHT .downIMGs img{
   height: 10%;   
}

#CaratButton{
}




